.bg-primary { background-color: $primary !important }

.bg-secondary { background-color: $secondary !important }

.bg-secondary-lightest { background-color: $secondary-lightest !important }

.border-primary { border-color: $primary !important }

.border-secondary { border-color: $secondary !important }

.text-primary { color: $primary !important }

.text-secondary { color: $secondary !important }

.text-secondary-dark { color: $secondary-dark !important }

.link-primary {
	color: $primary;
	transition: .2s;

	&:hover {
		color: darken($primary, 20);
		text-decoration: none;		
	}
}

.link-grey {
	color: $grey;
	transition: .2s;

	&:hover {
		color: $grey-darker;
		text-decoration: none;		
	}
}

.link-secondary {
	color: $secondary;
	transition: .2s;

	&:hover {
		color: darken($secondary, 20);
		text-decoration: none;		
	}
}

.btn-primary {
	color: white !important;
	background-color: $primary;
	border-color: $primary;

	&:hover {
		color: white !important;
		background-color: darken($primary, 10);
		border-color: darken($primary, 10);
	}

	&:active {
		background-color: darken($primary, 15) !important;
		border-color: darken($primary, 15) !important;
	}
}

.btn-disabled, .btn:disabled {
	color: $grey-dark !important;
	background-color: $grey-lighter;
	border-color: $grey-lighter;

	&:hover {
		color: $grey-dark !important;
		background-color: darken($grey-lighter, 10);
		border-color: darken($grey-lighter, 10);
	}

	&:active {
		background-color: darken($grey-lighter, 15) !important;
		border-color: darken($grey-lighter, 15) !important;
	}
}

.btn-secondary {
	color: white !important;
	background-color: $secondary;
	border-color: $secondary;

	&:hover {
		color: white !important;
		background-color: darken($secondary, 10);
		border-color: darken($secondary, 10);
	}

	&:active {
		background-color: darken($secondary, 15) !important;
		border-color: darken($secondary, 15) !important;
	}
}

.border-primary { border-color: $primary !important; }

.border-secondary { border-color: $secondary !important; }
