@import url(https://db.onlinewebfonts.com/c/f3158776e19c643befb71aadfe4e1efe?family=LTCBodoni175W00-Bold);
@import url(https://db.onlinewebfonts.com/c/02c5086e8616653dade6e7cb3a1f0498?family=LTCBodoni175W01-Regular);
// @import url('https://fonts.googleapis.com/css?family=Cormorant:400,700');

.serif {
    font-family: 'LTCBodoni175W01-Regular', serif;
    font-weight: 400;
    letter-spacing: .175rem;
}

.serif-bold {
    font-family: 'EB Garamond', serif;
    font-weight: 700;
    letter-spacing: .175rem;
}