label.white-snow {
	background: #e1dbcb!important;
}

label.white-pearl {
	background: #f2efea!important;
}

label.golden-melange {
	background: #a49075!important;
}

label.light-rose {
	background: #dfc1be!important;
}

label.navy {
	background: #2d375c!important;
}

label.bordeaux {
	background: #531d27!important;
}

label.winter-grey {
	background: #c5c3c8!important;
}

label.sirio-melange {
	background: #929197!important;
}